body {
    font-family: sans-serif;
}

main {
    max-width:800px;
    margin: 40px auto;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    clear: both;

    font-family: serif;
}

address {
    font-style: normal;
}

.site-header {
    margin: 0 auto;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
    min-height: 40px;
    max-width: 800px;
    line-height: 40px;
}

.site-title {
    font-size: 25px;
    font-weight: 600;
    float: left;
}

.site-nav {
    float: right;
    line-height: 40px;
}

.site-nav a {
    padding: 3px 10px;
}

.site-footer {
    border-top: 1px solid black;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    order: 1;
    font-size: 15px;
}

.footer-links {
    list-style-type: none;
    order: 2;
    font-size: 15px;

    min-width: 150px;

    margin: 0;
    padding: 0 10px;
}

.footer-links li {
    line-height: 20px;
}
    
.footer-description {
    order: 3;
    font-size: 15px;
    color: #666;
}

.icon {
    height: 16px;
    width: auto;
}

