<footer class="site-footer">
    <address class="footer-contact">
        <a href="mailto:{{ site.email }}" >
            {{ site.email }}
        </a>
    </address>

    <ul class="footer-links">
        {% if site.github_username %}
        <li>
            <img class="icon" src="/img/github_icon.png" alt="GitHub logo" />
            <a href="https://github.com/{{ site.github_username }}">
                {{ site.github_username }}
            </a>
        </li>
        {% endif %}
        {% if site.linkedin_username %}
        <li>
            <img class="icon" src="/img/linkedin_icon.png" alt="LinkedIn logo" />
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                {{ site.linkedin_username }}
            </a>
        </li>
        {% endif %}
    </ul>

    <p class="footer-description">
        {{ site.description }}
    </p>
</footer>
