header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  font-weight: bold;
  border-bottom: 0.2rem solid #000;
  font-size: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
h1 {
  font-size: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 3rem;
  margin-top: 1.25rem;
  margin-bottom: 0.875rem;
}
h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
h4 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.625rem;
}
h5 {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h6 {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
header {
  font-size: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
header ~ section > header {
  font-size: 3rem;
  margin-top: 1.25rem;
  margin-bottom: 0.875rem;
}
header ~ section > header ~ section > header {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
header ~ section > header ~ section > header ~ section > header {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.625rem;
}
header ~ section > header ~ section > header ~ section > header ~ section > header {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
figure {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 5px 3px #c9c9c9;
  border-radius: 1em;
}
figure figcaption {
  font-size: 0.8em;
}
.icon {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon.github::before {
  display: inline-block;
  content: "";
  background-image: url("../../image/GitHub-Mark-32px.png");
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
.icon.linkedin::before {
  display: inline-block;
  content: "";
  background-image: url("../../image/In-Blue-34.png");
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 72.5%;
}
ul,
ol {
  list-style-position: inside;
}
body {
  font-size: 1.6rem;
  line-height: normal;
  width: min(60rem, 100%);
  min-height: 100%;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 0 10px 5px #c9c9c9;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
p {
  text-indent: 2em;
}
p + p {
  margin-top: 1em;
}
main {
  line-height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
svg {
  display: inline-block;
}
img {
  margin-left: auto;
  margin-right: auto;
}
nav {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  border-top: none;
  padding-top: 1em;
  padding-bottom: 1em;
}
nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
body > footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
body > footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}
.author {
  font-style: italic;
}
.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
