@mixin icon($url) {
  &::before {
    display: inline-block;
    content: "";
    background-image: $url;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}

.icon {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &.github {
    @include icon(url("../image/GitHub-Mark-32px.png"));
  }

  &.linkedin {
    @include icon(url("../image/In-Blue-34.png"));
  }
}
